/*==============================
TEMPLATES
================================*/
.site-columns-hidden .column.hidden {
	display:none;
}

.site-columns-hidden .child {
	width: 30%;
}

.site-columns-hidden .much-nice-img {
	width: 70%;
}

.site-columns-hidden .additional-stuff {
	display: none;
}

.site-columns-hidden .article-img {
	float: none;
}
/*==============================*/

.content-wrapper {
	width: 1064px;
	margin: 0 auto;
	display: block;
}

.heading {
	text-transform: uppercase;
}

.article-content {
	width: 751px;
}

.text .column {
	width: 220px;
	float: left;
	text-align: justify;
	padding-right: 23px;
}

.text .columns {
	float: left;
}

.additional-stuff {
	float: left;
}

.much-nice-article-view {
	padding-right: 100px;
	width: 700px;
	float: left;
}

.much-nice-article-view .heading {
	font-size: 80px;
}

.aside-block {
	padding: 10px;
	width: 190px;
	margin-bottom: 10px;
	text-align: center;
	border: 1px solid #000;

}

.article-content .text {
	float: left;
}

.article-img {
	float: right;
}

.img {
	width: 150px;
	height: 150px;
}


/*==============================
CLEARFIX
================================*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}